{% extends "base.html"%}
{% block content %}
<head>
    <title>
        Quizzes
    </title>
</head>
<body>
    <div class="container">
        <div class="row">

          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/20_Screen_Shot_2015-01-14_at_2.26.05_PM.png"
                  alt="Ocean salinity"
                />
                <div class="card__content">
                  <h5 class="card__header">Quiz: Ocean salinity around the world</h5>
                  <p class="card__text">
                    Test your knowledge of ocean salinity and its relationship to
                    climate change.
                  </p>
                  <a href="https://climate.nasa.gov/quizzes/quiz-salinity/">
                    <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a
                  >
                </div>
          </div>
          <br>
          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/96_Screen_Shot_2015-01-14_at_2.08.15_PM.png"
                  alt="Carbon"
                />
                <div class="card__content">
                  <h5 class="card__header">Carbon and the climate</h5>
                  <p class="card__text">
                    Earth has many processes that regulate carbon, and its role in the
                    carbon cycle and climate.
                  </p>
                  <a href="https://climate.nasa.gov/quizzes/carbon-quiz/">
                    <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a
                  >
                </div>
          </div>
          <br>
          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/97_Screen_Shot_2015-01-14_at_2.15.46_PM.png"
                  alt="The air we breathe"
                />
                <div class="card__content">
                  <h5 class="card__header">Quiz: The air we breathe</h5>
                  <p class="card__text">
                    Our atmosphere is vital to all living things on our planet. How
                    much do you know about the air we breathe?
                  </p>
                  <a href="https://climate.nasa.gov/quizzes/air-we-breathe-quiz/">
                    <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a
                  >
                </div>
          </div>
          <br>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/16_Screen_Shot_2015-01-14_at_2.06.52_PM.png"
                  alt="Global warming"
                />
                <div class="card__content">
                  <h5 class="card__header">Quiz: Global warming</h5>
                  <p class="card__text">
                    Test your knowledge about global temperature change and its impact
                    on Earth's climate.
                  </p>
                  <a href="https://climate.nasa.gov/quizzes/global-temp-quiz/">
                    <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a
                  >
                </div>
          </div>
          <br>
          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/15_Screen_Shot_2015-01-14_at_2.31.52_PM.png"
                  alt=" Our world, other worlds"
                />
                <div class="card__content">
                  <h5 class="card__header">Quiz: Our world, other worlds</h5>
                  <p class="card__text">
                    Test your knowledge of how Earth is different from other planets,
                    both within our solar system and beyond.
                  </p>
                  <a href="https://climate.nasa.gov/quizzes/earth-day-quiz/">
                    <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a
                  >
                </div>
          </div>
          <br>
          <div class="col-sm">
            <div class="card">
                <img
                  class="card__img"
                  src="https://climate.nasa.gov/system/resources/detail_files/17_Screen_Shot_2015-01-14_at_2.20.14_PM.png"
                  alt="Ice and glaciers"
                />
                <div class="card__content">
                   <h5 class="card__header">Quiz: Ice and glaciers</h5>
                   <p class="card__text">
                  How much do you know about glaciers and ice caps around the globe?
                   </p>
                   <a href="https://climate.nasa.gov/quizzes/quiz-ice/">
                     <button class="btn btn-success btn-lg btn-block">
                      Take quiz
                      <span>&rarr;</span>
                    </button></a>
                </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <img class="card__img"
                    src="https://climate.nasa.gov/system/resources/detail_files/18_Screen_Shot_2015-01-14_at_2.29.14_PM.png"
                    alt="Sea level rise" />
                <div class="card__content">
                    <h5 class="card__header">Quiz: Sea level rise around us</h5>
                    <p class="card__text">
                    Test your knowledge of sea level rise and its effect on global populations
                    </p>
                    <a href="https://climate.nasa.gov/quizzes/sea-level-quiz/">
                        <button class="btn btn-success btn-lg btn-block">
                            Take quiz
                            <span>&rarr;</span>
                        </button></a>
                </div>
          </div>
          
          <div class="col-sm">
            <div class="card">
                <img class="card__img"
                    src="https://climate.nasa.gov/system/resources/detail_files/19_Screen_Shot_2015-01-14_at_2.23.08_PM.png"
                    alt="Energy Resources " />
                <div class="card__content">
                    <h5 class="card__header">Quiz: Energy Resources around </h5>
                    <p class="card__text">
                    Test your knowledge of energy and its role in our climate and its major effects.
                    </p>
                    <a href="https://climate.nasa.gov/quizzes/quiz-energy/" >
                        <button class="btn btn-success btn-lg btn-block">
                            Take quiz
                            <span>&rarr;</span>
                        </button></a>
                </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <img class="card__img"
                    src="https://climate.nasa.gov/system/resources/detail_files/21_Screen_Shot_2015-01-14_at_2.35.21_PM.png"
                    alt=" Carbon dioxide" />
                <div class="card__content">
                    <h5 class="card__header">Quiz: Carbon dioxide</h5>
                    <p class="card__text">
                  How much do you know about carbon dioxide and its impact
                    on global warming and climate change?
                    </p>
                    <a href="https://climate.nasa.gov/quizzes/carbon-quiz/">
                        <button class="btn btn-success btn-lg btn-block">
                            Take quiz
                            <span>&rarr;</span>
                        </button></a>
                </div>
          </div>
        </div>
      </div>
</body>
{% endblock %}